<div class="forecast_container text-center">
  <div class="card border-opacity-25 text-light">
    <div class="card-header">
      <h2>{{ city }}, {{ country }}</h2>
      <p class="card-text">{{ date_text }}</p>
      <p><img src="{{ iconURL}}" alt="weather icon"></p>
      <p class="card-text">Summary: {{ summary }}</p>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-6">
          <p class="card-text">Temperature: {{ temperature }} °C</p>
          <p class="card-text">Feels like: {{ feelsLikeTemp }} °C</p>
        </div>
        <div class="col-6">
          <p class="card-text">Pressure: {{ pressure }} hPa</p>
          <p class="card-text">Humidity: {{ humidity }}%</p>
        </div>
      </div>
    </div>
  </div>
  <div class="card border-opacity-25 text-light">
    <div class="card-header">
      <h2>{{ city }}, {{ country }}</h2>
      <p class="card-text">{{ date_text }}</p>
      <p><img src="{{ iconURL}}" alt="weather icon"></p>
      <p class="card-text">Summary: {{ summary }}</p>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-6">
          <p class="card-text">Temperature: {{ temperature }} °C</p>
          <p class="card-text">Feels like: {{ feelsLikeTemp }} °C</p>
        </div>
        <div class="col-6">
          <p class="card-text">Pressure: {{ pressure }} hPa</p>
          <p class="card-text">Humidity: {{ humidity }}%</p>
        </div>
      </div>
    </div>
  </div>
  <div class="card border-opacity-25 text-light">
    <div class="card-header">
      <h2>{{ city }}, {{ country }}</h2>
      <p class="card-text">{{ date_text }}</p>
      <p><img src="{{ iconURL}}" alt="weather icon"></p>
      <p class="card-text">Summary: {{ summary }}</p>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-6">
          <p class="card-text">Temperature: {{ temperature }} °C</p>
          <p class="card-text">Feels like: {{ feelsLikeTemp }} °C</p>
        </div>
        <div class="col-6">
          <p class="card-text">Pressure: {{ pressure }} hPa</p>
          <p class="card-text">Humidity: {{ humidity }}%</p>
        </div>
      </div>
    </div>
  </div>
  <div class="card border-opacity-25 text-light">
    <div class="card-header">
      <h2>{{ city }}</h2>
      <p class="card-text">{{ date_text }}</p>
      <p><img src="{{ iconURL}}" alt="weather icon"></p>
      <p class="card-text">Summary: {{ summary }}</p>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-6">
          <p class="card-text">Temperature: {{ temperature }} °C</p>
          <p class="card-text">Feels like: {{ feelsLikeTemp }} °C</p>
        </div>
        <div class="col-6">
          <p class="card-text">Pressure: {{ pressure }} hPa</p>
          <p class="card-text">Humidity: {{ humidity }}%</p>
        </div>
      </div>
    </div>
  </div>
  <div class="card border-opacity-25 text-light">
    <div class="card-header">
      <h2>{{ city }}, {{ country }}</h2>
      <p class="card-text">{{ date_text }}</p>
      <p><img src="{{ iconURL}}" alt="weather icon"></p>
      <p class="card-text">Summary: {{ summary }}</p>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-6">
          <p class="card-text">Temperature: {{ temperature }} °C</p>
          <p class="card-text">Feels like: {{ feelsLikeTemp }} °C</p>
        </div>
        <div class="col-6">
          <p class="card-text">Pressure: {{ pressure }} hPa</p>
          <p class="card-text">Humidity: {{ humidity }}%</p>
        </div>
      </div>
    </div>
  </div>

</div>
