<div class="forecast_container text-center">

  <div class="card m-1" style="max-width: 18rem;">
    <div class="card-header text-center">
      <h2>{{city}}</h2>
      <p><img src="{{ iconURL}}" alt="weather icon"></p>
      <p class="card-text">Summary: {{ summary }}</p>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-6">
          <p class="card-text">Temperature: {{ temperature }} °C</p>
          <p class="card-text">Feels like: {{ feelsLikeTemp }} °C</p>
        </div>
        <div class="col-6">
          <p class="card-text">Pressure: {{ pressure }} hPa</p>
          <p class="card-text">Humidity: {{ humidity }}%</p>
        </div>
      </div>
    </div>
  </div>

  <div class="card m-1 border-0 border-none" style="max-width: 18rem;">
    <div class="card-header text-center">
      <h2>{{city}}</h2>
      <p><img src="{{ iconURL}}" alt="weather icon"></p>
      <p class="card-text">Summary: {{ summary }}</p>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-6">
          <p class="card-text">Temperature: {{ temperature }} °C</p>
          <p class="card-text">Feels like: {{ feelsLikeTemp }} °C</p>
        </div>
        <div class="col-6">
          <p class="card-text">Pressure: {{ pressure }} hPa</p>
          <p class="card-text">Humidity: {{ humidity }}%</p>
        </div>
      </div>
    </div>
  </div>

  <div class="card m-1" style="max-width: 18rem;">
    <div class="card-header text-center">
      <h2>{{city}}</h2>
      <p><img src="{{ iconURL}}" alt="weather icon"></p>
      <p class="card-text">Summary: {{ summary }}</p>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-6">
          <p class="card-text">Temperature: {{ temperature }} °C</p>
          <p class="card-text">Feels like: {{ feelsLikeTemp }} °C</p>
        </div>
        <div class="col-6">
          <p class="card-text">Pressure: {{ pressure }} hPa</p>
          <p class="card-text">Humidity: {{ humidity }}%</p>
        </div>
      </div>
    </div>
  </div>

  <div class="card m-1" style="max-width: 18rem;">
    <div class="card-header text-center">
      <h2>{{city}}</h2>
      <p><img src="{{ iconURL}}" alt="weather icon"></p>
      <p class="card-text">Summary: {{ summary }}</p>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-6">
          <p class="card-text">Temperature: {{ temperature }} °C</p>
          <p class="card-text">Feels like: {{ feelsLikeTemp }} °C</p>
        </div>
        <div class="col-6">
          <p class="card-text">Pressure: {{ pressure }} hPa</p>
          <p class="card-text">Humidity: {{ humidity }}%</p>
        </div>
      </div>
    </div>
  </div>

  <div class="card m-1" style="max-width: 18rem;">
    <div class="card-header text-center">
      <h2>{{city}}</h2>
      <p><img src="{{ iconURL}}" alt="weather icon"></p>
      <p class="card-text">Summary: {{ summary }}</p>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-6">
          <p class="card-text">Temperature: {{ temperature }} °C</p>
          <p class="card-text">Feels like: {{ feelsLikeTemp }} °C</p>
        </div>
        <div class="col-6">
          <p class="card-text">Pressure: {{ pressure }} hPa</p>
          <p class="card-text">Humidity: {{ humidity }}%</p>
        </div>
      </div>
    </div>
  </div>
</div>
