<div class="today_container">
  <div class="card text-white bg-primary m-5" style="max-width: 18rem;">
    <div class="card-header text-center">
      <h2>City name</h2>
      <p>Weather image symbol</p>
    </div>
    <div class="card-body">
      <p class="card-text">Summary: Sunny</p>
      <p class="card-text">Temperature: 30 °C</p>
      <p class="card-text">Feels like: 32 °C</p>
      <p class="card-text">Pressure: 1020 hPa</p>
      <p class="card-text">Humidity: 20%</p>
    </div>
  </div>
</div>
